.bg-white.py-24.sm:py-32#about-us
  .mx-auto.max-w-7xl.px-6.lg:px-8
    .mx-auto.grid.max-w-2xl.grid-cols-1.items-start.gap-x-8.gap-y-16.sm:gap-y-24.lg:mx-0.lg:max-w-none.lg:grid-cols-2
      %div
        .text-base.leading-7.text-gray-700.lg:max-w-lg
          %h1.mt-2.text-3xl.font-bold.tracking-tight.text-orange-400.sm:text-4xl About us
          .max-w-xl
            %p.mt-8 At Scutt's Roofing, we understand that your roof is one of the most important components of your property. That's why we offer a comprehensive range of roofing services, including repairs, maintenance, and installations.
            %p.mt-8 Based in South East London, our team consists of experienced and skilled roofers who are committed to delivering exceptional results on every project we undertake. We take pride in our workmanship and use only the best materials and equipment to ensure that your roofing project is completed to the highest standard.
            %p.mt-6 Our commitment to excellence has earned us a high rating on Checkatrade, and we're proud of our reputation for providing exceptional customer service. Whether you need a small repair or a complete roof replacement, we've got you covered.
      .lg:pl-4
        .relative.overflow-hidden.rounded-3xl.bg-gray-900.px-6.pb-9.pt-64.shadow-2xl.sm:px-12.lg:max-w-lg.lg:px-8.lg:pb-8.xl:px-10.xl:pb-10{style: 'height: 30rem'}
          %img.absolute.inset-0.h-full.w-full.object-cover{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1683967697/Scutts%20Roofing/stu_profile_hzalqx.jpg"}/

