.bg-white
  .mx-auto.lg:max-w-7xl.px-6.lg:px-8.max-w-4xl.py-8
    .text-center
      %h2.text-3xl.lg:text-2xl.font-bold.tracking-tight.text-orange-600 We built our business on customer service
    .rounded-2xl.bg-white.px-6.py-16
      .mx-auto.max-w-xl.lg:max-w-none
        .flex.flex-col.lg:flex-row
          %img.border-1.border.lg:mr-8{class: 'w-full lg:w-1/2', :alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1686389746/Scutts%20Roofing/Screenshot_2023-06-10_at_10.35.16_yxo17j.png"}/
          %img.border-1.border{class: 'mt-8 lg:mt-0 w-full lg:w-1/2', :alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1686389339/Scutts%20Roofing/checkatrade_scores_oxyqhm.png"}/
        .mx-auto.pt-16.lg:pt-32.grid.max-w-sm.grid-cols-1.gap-x-8.gap-y-10.sm:max-w-none.lg:grid-cols-3
          .text-center.sm:flex.sm:text-left.lg:block.lg:text-center
            .sm:flex-shrink-0
              .flow-root
                %svg.mx-auto.h-16.w-16.text-orange-600{xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 24 24", "stroke-width": "1.5", stroke: "currentColor", "aria-hidden": "true", focusable: "false"}
                  %path{"stroke-linecap": "round", "stroke-linejoin": "round", d: "M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"}
                  %path{"stroke-linecap": "round", "stroke-linejoin": "round", d: "M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"}
            .mt-3.sm:ml-6.sm:mt-0.lg:ml-0.lg:mt-6
              %h3.text-3xl.lg:text-sm.font-medium.text-orange-600 No job too far
              %p.mt-2.text-2xl.lg:text-sm.text-gray-500 Based in London, but open to work in the surrounding areas of the capital - just ask!
          .text-center.sm:flex.sm:text-left.lg:block.lg:text-center
            .sm:flex-shrink-0
              .flow-root
                %svg.mx-auto.h-16.w-16.text-orange-600{xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 24 24", "stroke-width": "1.5", stroke: "currentColor", "aria-hidden": "true", focusable: "false"}
                  %path{"stroke-linecap": "round", "stroke-linejoin": "round", d: "M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"}
            .mt-3.sm:ml-6.sm:mt-0.lg:ml-0.lg:mt-6
              %h3.text-3xl.lg:text-sm.font-medium.text-orange-600 Insured and Fully Accredited
              %p.mt-2.text-2xl.lg:text-sm.text-gray-500 We source roofing materials of the highest quality and are fully insured.
          .text-center.sm:flex.sm:text-left.lg:block.lg:text-center
            .sm:flex-shrink-0
              .flow-root
                %svg.mx-auto.h-16.w-16.text-orange-600{xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 24 24", "stroke-width": "1.5", stroke: "currentColor", "aria-hidden": "true", focusable: "false"}
                  %circle{cx: "12", cy: "12", r: "9", "stroke-linecap": "round"}
                  %text{x: "12", y: "12", "dominant-baseline": "central", "text-anchor": "middle", fill: "currentColor", stroke: "none", "font-size": "10", "font-weight": "700", "font-family": "ui-sans-serif, system-ui, sans-serif"} £
            .mt-3.sm:ml-6.sm:mt-0.lg:ml-0.lg:mt-6
              %h3.text-3xl.lg:text-sm.font-medium.text-orange-600 Affordable and Experienced
              %p.mt-2.text-2xl.lg:text-sm.text-gray-500 We offer value for money and our customer reviews reflect the honest approach to our quotes.
    .flex.justify-center
      %a.flex.w-fit.justify-center.rounded-md.bg-orange-600.text-3xl.lg:text-2xl.font-semibold.text-white.shadow-sm.hover:opacity-80.focus-visible:outline.focus-visible:outline-2.focus-visible:outline-offset-2{:class => "px-8 py-4", :href => "mailto:scutt.roofing@gmail.com"} Contact us now for a quote