.bg-white
  .mx-auto.lg:max-w-7xl.px-6.lg:px-8.max-w-4xl.py-8
    .text-center
      %h2.text-3xl.lg:text-2xl.font-bold.tracking-tight.text-orange-600 We built our business on customer service
    .rounded-2xl.bg-white.px-6.py-16
      .mx-auto.max-w-xl.lg:max-w-none
        .flex.flex-col.lg:flex-row
          %img.border-1.border.lg:mr-8{class: 'w-full lg:w-1/2', :alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1686389746/Scutts%20Roofing/Screenshot_2023-06-10_at_10.35.16_yxo17j.png"}/
          %img.border-1.border{class: 'mt-8 lg:mt-0 w-full lg:w-1/2', :alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1686389339/Scutts%20Roofing/checkatrade_scores_oxyqhm.png"}/
        .mx-auto.pt-16.lg:pt-32.grid.max-w-sm.grid-cols-1.gap-x-8.gap-y-10.sm:max-w-none.lg:grid-cols-3
          .text-center.sm:flex.sm:text-left.lg:block.lg:text-center
            .sm:flex-shrink-0
              .flow-root
                %img.mx-auto.h-16.w-16{:alt => "", :src => "https://tailwindui.com/img/ecommerce/icons/icon-shipping-simple.svg"}/
            .mt-3.sm:ml-6.sm:mt-0.lg:ml-0.lg:mt-6
              %h3.text-xl.lg:text-sm.font-medium.text-orange-600 No job too far
              %p.mt-2.text-xl.lg:text-sm.text-gray-500 Based in London, but open to work in the surrounding areas of the capital - just ask!
          .text-center.sm:flex.sm:text-left.lg:block.lg:text-center
            .sm:flex-shrink-0
              .flow-root
                %img.mx-auto.h-16.w-16{:alt => "", :src => "https://tailwindui.com/img/ecommerce/icons/icon-warranty-simple.svg"}/
            .mt-3.sm:ml-6.sm:mt-0.lg:ml-0.lg:mt-6
              %h3.text-xl.lg:text-sm.font-medium.text-orange-600 Insured and Fully Accredited
              %p.mt-2.text-xl.lg:text-sm.text-gray-500 We source roofing materials of the highest quality and are fully insured.
          .text-center.sm:flex.sm:text-left.lg:block.lg:text-center
            .sm:flex-shrink-0
              .flow-root
                %img.mx-auto.h-16.w-16{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1687287152/Scutts%20Roofing/pound_icon_lul4sa.png"}
            .mt-3.sm:ml-6.sm:mt-0.lg:ml-0.lg:mt-6
              %h3.text-xl.lg:text-sm.font-medium.text-orange-600 Affordable and Experienced
              %p.mt-2.text-xl.lg:text-sm.text-gray-500 We offer value for money and our customer reviews reflect the honest approach to our quotes.
    .flex.justify-center
      %a.flex.w-fit.justify-center.rounded-md.bg-orange-600.text-3xl.lg:text-2xl.font-semibold.text-white.shadow-sm.hover:opacity-80.focus-visible:outline.focus-visible:outline-2.focus-visible:outline-offset-2{:class => "px-3.5 py-2.5", :href => "mailto:scutt.roofing@gmail.com"} Contact us now for a quote

