.lg:container.mx-auto.md:py-8.py-16#our-projects.px-8.lg:px-24#our-projects
  .mx-auto.max-w-xl.text-center
    %p.mt-2.lg:text-3xl.font-bold.tracking-tight.text-orange-600.text-5xl Our projects
  .-m-1.flex.flex-wrap.py-16
    .flex.flex-wrap{:class => "w-full md:w-1/2"}
      .p-1.md:p-2{:class => "w-full md:w-1/2"}
        %img.block.h-full.w-full.rounded-lg.object-cover.object-center{:alt => "gallery", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1686384649/Scutts%20Roofing/Misc/324904784_134916666103543_6309358684294191937_n_qrfwdp.jpg"}/
      .p-1.md:p-2{:class => "w-full md:w-1/2"}
        %img.block.h-full.w-full.rounded-lg.object-cover.object-center{:alt => "gallery", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1686384119/Scutts%20Roofing/Services/slate_velux_ukmypp.jpg"}/
      .w-full.p-1.md:p-2
        %img.block.h-full.w-full.rounded-lg.object-cover.object-center{:alt => "gallery", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1682154263/Scutts%20Roofing/instagram_roof_yxj3ow.jpg"}/
    .flex.flex-wrap{:class => "w-full md:w-1/2"}
      .w-full.p-1.md:p-2
        %img.block.h-full.w-full.rounded-lg.object-cover.object-center{:alt => "gallery", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1686384959/Scutts%20Roofing/Misc/torch_on_roofing_7_izltas.jpg"}/
      .p-1.md:p-2{:class => "w-full md:w-1/2"}
        %img.block.h-full.w-full.rounded-lg.object-cover.object-center{:alt => "gallery", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1686384865/Scutts%20Roofing/Misc/liquid_membranes_8_p0xbee.jpg"}/
      .p-1.md:p-2{:class => "w-full md:w-1/2"}
        %img.block.h-full.w-full.rounded-lg.object-cover.object-center{:alt => "gallery", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1683976404/Scutts%20Roofing/Masonry%20Render%20Chimney/repairs_1_ksjtpv.jpg"}/
