.bg-white.py-16.lg:py-0#services
  .mx-auto.lg:max-w-7xl.px-6.lg:px-8.max-w-4xl
    .mx-auto.max-w-xl.text-center
      %p.mt-2.lg:text-3xl.font-bold.tracking-tight.text-orange-600.text-5xl Our services
    %ul.pt-16.grid.grid-cols-2.gap-x-4.gap-y-8.lg:gap-x-8.lg:gap-y-16.sm:grid-cols-1.sm:gap-x-6.lg:grid-cols-4.xl:gap-x-8{:role => "list"}
      %li.relative.text-center.text-gray-700.service-card
        .group.aspect-h-10.aspect-w-11.block.w-full.overflow-hidden.rounded-lg.bg-gray-100.focus-within:ring-2.focus-within:ring-indigo-500.focus-within:ring-offset-2.focus-within:ring-offset-gray-100
          %img.opacity-80.lg:opacity-100.pointer-events-none.object-cover.group-hover:opacity-40{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1682151644/Scutts%20Roofing/Masonry%20Render%20Chimney/masonry_render_chimney_7_b8saoq.jpg"}/
          .service-name.text-xl.lg:text-3xl.font-bolder.hidden{style: 'top: 40%;'} Roof Inspections
        .text-4xl.lg:hidden.text-center.py-8.bold
          Roof Inspections
      %li.relative.text-center.text-gray-700.service-card
        .group.aspect-h-10.aspect-w-11.block.w-full.overflow-hidden.rounded-lg.bg-gray-100.focus-within:ring-2.focus-within:ring-indigo-500.focus-within:ring-offset-2.focus-within:ring-offset-gray-100
          %img.opacity-100.pointer-events-none.object-cover.group-hover:opacity-40{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1683976320/Scutts%20Roofing/Masonry%20Render%20Chimney/flat_roofing_1_hmhfqu.jpg"}/
          .service-name.text-xl.lg:text-3xl.font-bolder.hidden{style: 'top: 40%;'} Roof Installations
        .text-4xl.lg:hidden.text-center.py-8.bold
          Roof Installations
      %li.relative.text-center.text-gray-700.service-card
        .group.aspect-h-10.aspect-w-11.block.w-full.overflow-hidden.rounded-lg.bg-gray-100.focus-within:ring-2.focus-within:ring-indigo-500.focus-within:ring-offset-2.focus-within:ring-offset-gray-100
          %img.opacity-100.pointer-events-none.object-cover.group-hover:opacity-40{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1683976404/Scutts%20Roofing/Masonry%20Render%20Chimney/repairs_1_ksjtpv.jpg"}/
          .service-name.text-xl.lg:text-3xl.font-bolder.hidden{style: 'top: 40%;'} Roof Repairs
        .text-4xl.lg:hidden.text-center.py-8.bold
          Roof Repairs
      %li.relative.text-center.text-gray-700.service-card
        .group.aspect-h-10.aspect-w-11.block.w-full.overflow-hidden.rounded-lg.bg-gray-100.focus-within:ring-2.focus-within:ring-indigo-500.focus-within:ring-offset-2.focus-within:ring-offset-gray-100
          %img.opacity-100.pointer-events-none.object-cover.group-hover:opacity-40{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1683976578/Scutts%20Roofing/Masonry%20Render%20Chimney/renewals_restorations_2_cfqzez.jpg"}/
          .service-name.text-xl.lg:text-3xl.font-bolder.hidden{style: 'top: 40%;'} Weather Damage Solutions
        .text-4xl.lg:hidden.text-center.py-8.bold
          Weather Damage Solutions
      %li.relative.text-center.text-gray-700.service-card
        .group.aspect-h-10.aspect-w-11.block.w-full.overflow-hidden.rounded-lg.bg-gray-100.focus-within:ring-2.focus-within:ring-indigo-500.focus-within:ring-offset-2.focus-within:ring-offset-gray-100
          %img.opacity-100.pointer-events-none.object-cover.group-hover:opacity-40{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1682151646/Scutts%20Roofing/Masonry%20Render%20Chimney/masonry_render_chimney_1_n5smy4.jpg"}/
          .service-name.text-xl.lg:text-3xl.font-bolder.hidden{style: 'top: 40%;'} Chimney Repairs
        .text-4xl.lg:hidden.text-center.py-8.bold
          Chimney Repairs
      %li.relative.text-center.text-gray-700.service-card
        .group.aspect-h-10.aspect-w-11.block.w-full.overflow-hidden.rounded-lg.bg-gray-100.focus-within:ring-2.focus-within:ring-indigo-500.focus-within:ring-offset-2.focus-within:ring-offset-gray-100
          %img.opacity-100.pointer-events-none.object-cover.group-hover:opacity-40{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1687536560/Scutts%20Roofing/Misc/blue_tile_roof_ibvvwl.png"}/
          .service-name.text-xl.lg:text-3xl.font-bolder.hidden{style: 'top: 40%;'} Brickwork, Slate & Tiles
        .text-4xl.lg:hidden.text-center.py-8.bold
          Brickwork, Slate & Tiles
      %li.relative.text-center.text-gray-700.service-card
        .group.aspect-h-10.aspect-w-11.block.w-full.overflow-hidden.rounded-lg.bg-gray-100.focus-within:ring-2.focus-within:ring-indigo-500.focus-within:ring-offset-2.focus-within:ring-offset-gray-100
          %img.opacity-100.pointer-events-none.object-cover.group-hover:opacity-40{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1683976772/Scutts%20Roofing/Masonry%20Render%20Chimney/flat_roofing_6_qgaeak.jpg"}/
          .service-name.text-xl.lg:text-3xl.font-bolder.hidden{style: 'top: 40%;'} Flat Roofing
        .text-4xl.lg:hidden.text-center.py-8.bold
          Flat Roofing
      %li.relative.text-center.text-gray-700.service-card
        .group.aspect-h-10.aspect-w-11.block.w-full.overflow-hidden.rounded-lg.bg-gray-100.focus-within:ring-2.focus-within:ring-indigo-500.focus-within:ring-offset-2.focus-within:ring-offset-gray-100
          %img.opacity-100.pointer-events-none.object-cover.group-hover:opacity-40{:alt => "", :src => "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1687536118/Scutts%20Roofing/Misc/324904784_134916666103543_6309358684294191937_n_qrfwdp.jpg"}/
          .service-name.text-xl.lg:text-3xl.font-bolder.hidden{style: 'top: 40%;'} Eco & Green Roofs
        .text-4xl.lg:hidden.text-center.py-8.bold
          Eco & Green Roofs

:javascript

  var serviceCards = document.querySelectorAll('.service-card')
  var serviceName = document.querySelector('.service-name')
  var serviceDescription = document.querySelector('.service-description')
  
  serviceCards.forEach((card) => {
    card.addEventListener('mouseover', showServiceName)
    card.addEventListener('mouseout', hideServiceName)
    card.addEventListener('click', toggleServiceDescription)

  })

  function showServiceName() {
    (this).querySelector('.service-name').classList.remove('hidden')
  }

  function hideServiceName() {
    (this).querySelector('.service-name').classList.add('hidden')
  }

  function toggleServiceDescription() {
    (this).querySelector('.service-description').classList.toggle('hidden')
  }
