.bg-white.py-24.sm:py-32
  .mx-auto.max-w-7xl.px-6.lg:px-8
    .mx-auto.max-w-xl.text-center
      %p.mt-2.text-3xl.font-bold.tracking-tight.text-gray-900.sm:text-4xl What our customers have to say
    %section.relative.isolate.overflow-hidden.bg-white.px-6.py-8.sm:py-12.lg:px-8
      .absolute.inset-0.-z-10.opacity-20{:class => "bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)]"}
      .absolute.inset-y-0.-z-10.mr-16.origin-bottom-left.bg-white.shadow-xl.ring-1.ring-indigo-50.sm:mr-28.lg:mr-0.xl:mr-16.xl:origin-center{:class => "right-1/2 w-[200%] skew-x-[-30deg] shadow-indigo-600/10"}
      .mx-auto.max-w-2xl.lg:max-w-4xl
        %figure.mt-10
          %blockquote.text-center.lg:text-lg.font-semibold.leading-8.text-gray-900.sm:text-2xl.sm:leading-9
            %p “I live overseas and needed urgent repairs to a storm damaged flat roof. I found Stuart through a Facebook referral and cannot be more effusive in my recommendation of him. He was thorough, clear and a great communicator of timelines and requirements for the job. During the assessment, he was honest about which repairs were essential and which jobs were nice to have and took the time to explain. He went the extra yard to send through photos and videos explaining the state of the roof, which was incredibly helpful as I couldn't be on site. He also did the job within timeframe and budget.”
          %figcaption.mt-10


