%body
  %header.bg-white
    %nav.flex.items-center.justify-between.p-6.lg:px-8{"aria-label" => "Global"}
      .flex.lg:flex-1
        %a{:class => "-m-1.5 p-1.5", :href => "#"}
          %span.sr-only Scutts Roofing Ltd
          = image_tag('navbar_logo')
      .flex.lg:hidden
        %button.inline-flex.items-center.justify-center.rounded-md.text-gray-700{:class => "-m-2.5 p-2.5", :type => "button"}
          %span.sr-only Open main menu
          %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
            %path{:d => "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
      .hidden.lg:flex.lg:gap-x-12
        %a.text-sm.font-semibold.leading-6.text-gray-900{:href => "#"} Services
        %a.text-sm.font-semibold.leading-6.text-gray-900{:href => "#"} About us
        %a.text-sm.font-semibold.leading-6.text-gray-900{:href => "#"} Our projects
        %a.text-sm.font-semibold.leading-6.text-gray-900{:href => "#"} Contact us

    / Mobile menu, show/hide based on menu open state.
    #mobile-nav.lg:hidden{"aria-modal" => "true", :role => "dialog"}
      / Background backdrop, show/hide based on slide-over state.
      .fixed.inset-0.z-10
      .fixed.inset-y-0.right-0.z-10.w-full.overflow-y-auto.bg-white.px-6.py-6.sm:max-w-sm.sm:ring-1{:class => "sm:ring-gray-900/10"}
        .flex.items-center.justify-between
          %a{:class => "-m-1.5 p-1.5", :href => "#"}
            %span.sr-only Your Company
            = image_tag('navbar_logo')
          %button.rounded-md.text-gray-700{:class => "-m-2.5 p-2.5", :type => "button"}
            %span.sr-only Close menu
            %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
              %path{:d => "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
        .mt-6.flow-root
          .-my-6.divide-y{:class => "divide-gray-500/10"}
            .space-y-2.py-6
              %a.-mx-3.block.rounded-lg.px-3.py-2.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:href => "#"} Services
              %a.-mx-3.block.rounded-lg.px-3.py-2.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:href => "#"} About us
              %a.-mx-3.block.rounded-lg.px-3.py-2.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:href => "#"} Our projects
              %a.-mx-3.block.rounded-lg.px-3.py-2.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:href => "#"} Contact us

:javascript
  

  function toggleMenu() {
    var mobileNav = document.querySelector('#mobile-nav')
    console.log(mobileNav)
    mobileNav.classList.remove('hidden')
  }